
@font-face {
    font-family: 'gagalinregular';
    src: url('../fonts/gagalin/gagalin-regular-webfont.eot');
    src: url('../fonts/gagalin/gagalin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gagalin/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin/gagalin-regular-webfont.woff') format('woff'),
         url('../fonts/gagalin/gagalin-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu-b-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu/ubuntu-light-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-light-webfont.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu/ubuntu-medium-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-medium-webfont.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu/ubuntu-regular-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lifehackmedium';
    src: url('../fonts/lifehack/lifehack_medium-webfont.eot');
    src: url('../fonts/lifehack/lifehack_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lifehack/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/lifehack/lifehack_medium-webfont.woff') format('woff'),
         url('../fonts/lifehack/lifehack_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}