.best{
	background: url('../img/backgrounds/best_bg.jpg') center center / cover no-repeat;
	.best__list{
		display: flex;
		.best__item {
			flex: 1;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			.best__logo{
				min-height: 10rem;
				display: flex;
				justify-content: center; 
				margin-bottom: 3rem;
				.best-pic{
					height: 8.9rem;
				}
			}
			.best__title{
				font-family: $lifehack;
				font-size: 2.4rem;
				line-height: 2.8rem;
				margin-bottom: 1rem;
			}
		}
	}
}
