.best{
	background: url('../img/backgrounds/best_bg.jpg') center center / cover no-repeat;
	.best__list{
		display: flex;
		@include phones {
			flex-direction: column;
		}
		.best__item {
			flex: 1;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			@include phones {
				flex-direction: row;
				text-align: left;
				margin-bottom: rem(20px);
			}
			.best__logo{
				min-height: rem(100px);
				display: flex;
				justify-content: center; 
				margin-bottom: rem(30px);
				@include phones {
					min-width: 30%;
				}
				.best-pic{
					height: rem(89px);
				}
			}
			.best__title{
				font-family: $lifehack;
				font-size: rem(24px);
				line-height: rem(28px);
				margin-bottom: rem(10px);
			}
		}
	}
}
