.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	font-size: 1.3rem;
	color: $brand-white;
	font-family: $medium;
	.header__buttons {
		display: flex;
		align-items: center;
		margin-left: auto;
	}
}
.nav{
	margin-right: 1.5rem;

	.nav__list{
		display: flex;
		text-transform: uppercase;
		.nav__item{
			&:last-child .nav__link:after{
				display: none;
			}
			.nav__link {
				color: $brand-white;
				display: flex;
				align-items: center;
				transition: color 0.3s;
				&:after{
					content: '';
					width: 4px;
					height: 4px;
					display: block;
					border-radius: 50%;
					background: #fff;
					margin: 0 1.6rem;

				}
				&:hover{
					color: darken($brand-white, 20%);
				}
			}

		}			
	} 
}
