.menu {
	background: url(../img/backgrounds/menu_bg.jpg) 50% no-repeat;
	background-size: cover;
	position: relative;
}
.menu__title {
	position: absolute;
	top: 10%;
	left: 10%;
}
.menu__acco-item {
	background: center center / cover no-repeat;
	display: flex;
}


.menu__acco{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
}

.menu__acco-item {
	height: 100%;


	&.active {
		.menu__acco-trigger-text {
			color: $brand-orange;
		}
	}
}

.menu__acco-trigger {
	width: rem(80px);
	display: block;
	height: 100%;
	@include cover;
	text-decoration: none;
	position: relative;
	@include phones {
		width: rem(60px);
	}
	&:before {
		content:"";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $brand-black-transp-dark;
	}
}

.menu__acco-trigger-text {
	font-size: rem(40px);
	color: #fff;
	font-family: $gagalin;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	transform: rotate(-90deg) translateY(-50%);
	transform-origin: 0 0;
	left: 50%;
	top: 100%;
	margin-top: rem(-20px);

}

.menu__acco-content {
	height: 100%;
	background: $brand-black-transp-dark;
	max-width: 0;
	overflow: hidden;
	transition: all 0.5s ease-out;
}

.menu__acco-text {
	font-size: rem(14px);
	color: $brand-white;
	padding: rem(60px) rem(30px);
	max-width: 100%;
	line-height: 1.8;
	opacity: 0;
	transition-delay: .4s, .4s;
	@include phones {
		padding: rem(10px);
	}
}

.active { 
	.menu__acco-content{
		max-width: rem(600px);
		@include tablets {
			max-width: rem(350px);
		}
		@include phones {
			max0width: 100vw;
		}  

	}
	.menu__acco-text{
		opacity: 1;
				@include phones {
			line-height: rem(25px);
			font-size: rem(16px);
		}  
	}
}