* {
	box-sizing: border-box;
}

html{
	font-size: 16px;
	height: 100%;
	width: 100%;
	@include tablets {
		font-size: 14px;
	}
	@include phones {
		font-size: 13px;
	}
	@include phones-small {
		font-size: 12px;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: rem(14px);
	line-height: rem(24px);
	height: 100%;
	width: 100%;
	position: relative;
	font-family: $light;
}




a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	font-weight: normal;
}

ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}

p {
	padding: 0;
	margin: 0;
}


.section {
	height: 100vh;
	min-height: rem(650px);
	overflow: hidden;
}

.title{
	font-family: $gagalin;
	color: $brand-orange;
	font-size: rem(72px);
	line-height: rem(85px);
	font-weight: normal;
	margin-bottom: rem(20px);
	&--color-dark{
		color: $brand-dark-grey;
	}
	&--color-white{
		color: $brand-white;
	}
	@include phones {
		font-size: rem(63px);
		text-align: center;
	}
}

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: rem(960px);
	display: flex;
	flex-direction: column;
	height: 100%;
	&--centered{
		align-items: center;
		justify-content: center;
	}

	@include tablets{
		width: 95%;
	}
}

.wrapper {
	position: relative;
	width: 100%;

	// height: 100%;
	overflow: hidden;
}

.maincontent {
	height: 100%;
}

.btn {
	display: inline-block;
	border-radius: 5px;
	padding: 0 rem(16px);
	line-height: rem(35px);
	text-transform: uppercase;
	cursor: pointer;
	font-family: $medium;
	border: 0;
	color: $brand-white;
	transition: background-color 0.3s;

	@include tablets {
		margin-right: rem(30px);
		line-height: rem(35px);
	}
}
.brand-orange-btn {
	background-color: $brand-tomato-two;
	&:hover,
	&:focus,
	&:active {
		background-color: darken($brand-tomato,10%);
	}
}

.brand-black-btn {
	background-color: $brand-dark-grey;
	margin-right: 0;
	@include phones {
		display: none;
	}
	&:hover,
	&:focus,
	&:active {
		background-color: darken($brand-dark-grey,10%);
	}
}

.brand-transparent-btn {
	background-color: unset;
	text-transform: none;
	font-family: $light;
	font-size: rem(15px);
	&:hover,
	&:focus,
	&:active {
		text-decoration: capitalize;
	}
}

.phone-btn {
	display: none;
	@include phones{
		display: inline-block;
	}
}

